<div class='container-fluid height1 new-article'>
    <div class='col-8 mx-auto text-light fs-5 p-5 mx-3'>
        <div class= 'text-dark'>
            <%= render "devise/shared/error_messages", resource: @article %>
        </div>

        <%= form_with model: @article do |f| %>
            <%= f.label :category, class:'m-2' %>
            <div>
            <%= collection_select(:article, :category_id ,Category.all, :id, :name)%>  
            </div>
            <div class=' my-3'>
            <%= f.label :title, class:'m-2' %>
            <%= f.text_field :title, class: 'form-control' %>
            </div>

            <div class=' my-3'>
            <%= f.label :text, class:'m-2' %>
            <%= f.text_area :text, class: 'form-control' %>
            </div>
            <div class=' my-3'>
            <div class=''>
            <%= f.label :image, class:'m-2' %>
            <%= f.file_field :image, class: "form-control" %>
            </div>
            </div>
            <div class=' my-3'>
            <%= f.submit :Create, class: 'btn btn-dark my-2' %>
            </div>
        <% end %>
        <%= link_to 'Back', root_path, class:'btn btn-dark' %>
    </div>
</div>